<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>SpokaneRubyUsersGroup</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrap">
  <div class="header">
    <div class="title">
      <h1><a href="#">spokane</a></h1>
      <h2>ruby users group</h2>
    </div>
    <div class="nav">
      <ul>
        <% if user_signed_in? %>
        <li><a href="/users/edit"><%= current_user.email %></a></li>
        <li><a href="/logout">Logout</a></li>
        <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% end %>
        <li><a href="/">Home</a></li>
        <li><a href="/bonus_meeting">Bonus Meeting</a></li>
        <li><a href="/pickle_jar">Pickle Jar</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div class="pagewrapper">
    <div class="innerpagewrapper">
      <div class="page">
        <div class="content">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
        <div class="sidebar">
          <h4>About</h4>
          <p>Spokane Ruby Users Group is open to Ruby developers of all skill levels.  Come and learn about Ruby.</p>
          <h4>Links</h4>
          <ul>
            <li><a href="http://www.ruby-lang.org" title="Ruby">Ruby</a></li>
            <li><a href="http://rvm.beginrescueend.com" title="Ruby Version Manager">Ruby Version Manager(rvm)</a></li>
            <li><a href="http://www.rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a></li>
            <li><a href="http://www.ramaze.net" title="Ramaze">Ramaze</a></li>
          </ul>
          <h4>Twitter Activity</h4>
          <p>
          <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 6,
            interval: 6000,
            width: 250,
            height: 300,
            theme: {
              shell: {
                background: '#ba1e1e',
                color: '#000000'
              },
              tweets: {
                background: '#000000',
                color: '#ffffff',
                links: '#4aed05'
              }
            },
            features: {
              scrollbar: true,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: false,
              behavior: 'all'
            }
          }).render().setUser('spokanerb').start();
          </script>
          </p>
<!-->
          <h4>Search</h4>
          <form action="#" method="get" class="searchform">
            <p>
              <input type="text" id="searchq" name="q" />
              <input type="submit" class="formbutton" value="Search" />
            </p>
          </form>
<!-->      
        </div>
        
        <div class="footer">
          <p><a href="http://validator.w3.org/check/referer" title="valid XHTML">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="valid CSS">CSS</a> &nbsp;&nbsp; &copy; spokane.rubyusersgroup.org. Template Design: <a href="http://www.spyka.net">spyka webmaster</a></p> 
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

